<div class-container>
<div *ngFor="let item of cartProducts">   
    <img src="{{ item.url }}" alt="Item image">
    <h3>{{ item.name }}</h3>
    <p>${{ item.price }}</p>
    <label for="item-amount">Amount </label>
    <input type="number" name="item-amount" id="item-amount" [(ngModel)]="item.quantity">
    <br> 
</div>   
 

<p>Total: ${{ total }}</p>



<form #form="ngForm" (ngSubmit)="submitForm()" class="form-margin">
    <label for="fullName">Full name</label><br>
    <input 
        type="text" 
        id="fullName" 
        name="fullName" 
        required minlength="3" 
        placeholder="(minimum 3 characters)" 
        [(ngModel)]="fullName">
    <br>
    <label for="address">Address</label><br>
    <input 
        type="text" 
        id="address" 
        name="address" 
        required minlength="6" 
        placeholder="(minimum 6 characters)" 
        [(ngModel)]="address">
    <br>

    <label for="creditCardNumber">Credit card number</label><br>
    <input 
        type="text" 
        id="creditCardNumber" 
        name="creditCardNumber" 
        required minlength="16" 
        placeholder="(16-digit number)" 
        [(ngModel)]="creditCardNumber">
    <br>
    
    <p class="info">We'll never share your payment details with anyone else.</p>
    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
</div>

