<div class="product-container">
  <a routerLink="/products/{{ product.id }}">
    <img class="product-image" src="{{ product.url }}" alt="Product image"><br>
  </a>
  <p>{{ product.name }}</p> 
  <p>${{ product.price }}</p>
  <select class="select-input" required [(ngModel)]="quantity">
      <option selected [ngValue]="1">1</option>
      <option [ngValue]="2">2</option>
      <option [ngValue]="3">3</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="5">5</option>
      <option [ngValue]="6">6</option>
      <option [ngValue]="7">7</option>
      <option [ngValue]="8">8</option>
      <option [ngValue]="9">9</option>
      <option [ngValue]="10">10</option>
    </select> 
    <br>
  <button (click)="addToCart(product)">Add to cart</button>
</div> 
<br>