<img src="{{ product.url}}" alt="Product image"><br>
<p>{{ product.name }}</p> 
<p>{{ product.price }}</p> 
<!-- <input type="number" name="quantity" required min="1" max="10" step="1" value="1"> -->
<form action="">
<select required>
    <option value="" selected>-- Please select --</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select> <br>
<button>Add to cart</button>
</form>
<br>